<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elvishew.download.serverdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.elvishew.download.library.server.DownloadManagerService"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.elvishew.action.download" />
            </intent-filter>
        </service>

        <provider
            android:name="com.elvishew.download.library.server.DownloadProvider"
            android:authorities="com.elvishew.download"
            android:exported="false"
            android:multiprocess="false"
            android:syncable="false" >
        </provider>
    </application>

</manifest>